.nav {
    height: 100px;
}

.nav a {
    display: inline-block;
    transition-duration: 0.3s;
    color: $nav-color;

    &:hover {
        transform: scale(1.1);
        color: $accent-color;
        transition: all 0.5s ease;
    }
}

@media (max-width: 800px) {
    .nav {
        display: table;
        color: $nav-color;
    }
}
